<p class="h1 d-flex justify-content-center">Event Manager</p>
<div class="container col-md-10">
  <%= form_tag do %>
    <div class="form-group">
      <button type="button" class="btn btn-outline-primary col-md-5" id="export-data">Export Data</button>
      <button type="button" class="btn btn-outline-secondary col-md-5" id="send-email">Send Email</button>
    </div>
  <% end %>
</div>
